body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 300px; /* Fixed width for sidebar */
    background-color: rgb(216,220,246);
    color: rgb(64,66,73);
    height: 100vh; /* Full height of the viewport */
    position: fixed; /* Fix the sidebar */
    padding: 20px;
    overflow-y: auto; /* Allow scrolling if content exceeds height margin-top: 50px; */
    padding-top: 50px;
}

.sidebar img{
    padding: 20px;
}

.sidebar h1 {
    padding-left: 20px;
}

.sidebar h2 {
    padding-left: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding-left: 20px;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar a {
    color: rgb(223,112,127);
    text-decoration: none;
    font-weight: bold;
}

.sidebar a:hover {
    text-decoration: underline;
}

.content {
    margin-left: 350px; /* Leave space for the sidebar */
    padding: 20px;
    flex-grow: 1; /* Allows content to use remaining space */
    height: 100vh; /* Full height of the viewport */
    overflow-y: auto; /* Allow scrolling for the content area */
    padding-top: 50px;
}

.content h1 {
    color: rgb(64,66,73);
}

.content h2 {
    color: rgb(64,66,73);
}

.content p {
    line-height: 1.6;
}

@media (max-width: 768px) {
    .sidebar {
        width: 200px; /* Adjust width for smaller screens */
    }

    .content {
        margin-left: 300px; /* Match with sidebar width */
    }
}